[user]
  name = {{ .name }}
  email = {{ index . "email" | default "nicolas.lecoy@gmail.com" }}
  signingkey = ~/.ssh/id_rsa_nlecoy.pub
[core]
  autocrlf = input
  editor = nvim
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[commit]
  gpgsign = true
[format]
  signOff = true
[gpg]
  format = ssh
[merge]
  ff = only
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[fetch]
  prune = true
[status]
  submoduleSummary = false
[tag]
  forceSignAnnotated = true
[init]
  defaultBranch = main
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
[url "ssh://git@github.com/nlecoy/"]
  insteadOf = https://github.com/nlecoy/
[url "ssh://git@github.com/getcihub/"]
  insteadOf = https://github.com/getcihub/
{{- if eq "work" .machine }}
[url "ssh://git@github.com/BatchLabs/"]
  insteadOf = https://github.com/BatchLabs/
{{- end }}
