#!/usr/bin/env bash
# machine: {{ .machine }}
# brewfile hash: {{ include "dot_config/homebrew/brewfile.tmpl" | sha256sum }}
# packages hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}
set -euo pipefail
brew bundle --no-upgrade --file="$HOME/.config/homebrew/brewfile"
