LogLevel ERROR

Host *
  AddKeysToAgent yes
  IdentityAgent $SSH_AUTH_SOCK
  IdentityFile ~/.ssh/id_ed25519
  IdentityFile ~/.ssh/id_rsa
  IgnoreUnknown UseKeychain
  UseKeychain yes

Host 192.168.*.* 172.16.*.* 10.*.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

{{- if eq "work" .machine }}
host *.vra
    User nicolasl
    ServerAliveInterval 300
    ServerAliveCountMax 2
    IdentityFile ~/.ssh/id_ed25519
    port 22211
host *.b47ch.com
    User nicolasl
    ServerAliveInterval 300
    ServerAliveCountMax 2
    IdentityFile ~/.ssh/id_ed25519
    port 22211
{{- end }}
